# Backend (Merchant/gRPC Service)
Db=mongodb+srv://user:password@cluster.mongodb.net/payment_gateway_hub
GRPC_PORT=50001
JWT_SECRET=your_jwt_secret
REDIS_URL=redis://localhost:6379
WEBHOOK_SIGNING_SECRET=your_webhook_secret
NODE_ENV=production
