# API Gateway
DB=mongodb+srv://user:password@cluster.mongodb.net/benchmarkdb
PORT=6283
JWT_SECRET=your_jwt_secret
REDIS_URL=redis://localhost:6379
WEBHOOK_SIGNING_SECRET=your_webhook_secret
GRPC_PORT=50001
SESSION_SECRET=your_session_secret
ALLOWED_ORIGINS=http://localhost:5173
MERCHANT_GRPC_URL=localhost:50002
PAYMENT_GRPC_URL=localhost:50051
WEBHOOK_SERVICE_URL=http://localhost:4000
